body{
     font-family: 'Noto Sans TC', sans-serif;
}
.text-primary {
    color: #CD5C5C!important;
}
a {
    color: #CD5C5C;
}
.bg-primary {
    background-color: #CD5C5C!important;
    background-color: #cc8381!important
	background-image: ('image/diamond-upholstery.png');
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
     font-family: 'Noto Sans TC', sans-serif;
}
