body{
     font-family: 'Noto Sans TC', sans-serif;
}
.text-primary {
    color: #CD5C5C!important;
	font-size: 3.5rem;
}
a {
    color: #CD5C5C;
}
.bg-primary {
    background-color: #CD5C5C!important;
	background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
     font-family: 'Noto Sans TC', sans-serif;
}