body{
     font-family: 'Noto Sans TC', sans-serif;
}
.text-primary {
    color: #798A79!important;
	font-size: 3rem;
}
a {
    color: 	#798A79;
}
.bg-primary {
    background-color: #798A79!important;
	background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
     font-family: 'Noto Sans TC', sans-serif;
}
.dev-icons .list-inline-item i:hover{
	color: #B39DB3;
}
.list-inline :hover{
	color: #B39DB3;
}
.milestone {
	position:relative;
}
.social-icons a:hover{
	background-color: #B39DB3;
	transform : rotate (45deg);
}
.thirteen {
	letter-spacing:5px;
}
h1, h3 {
	white-space:pre;
}
.social-icons a {
  display: inline-block;
  height: 3.9rem;
  width: 3.9rem;
  background-color: #798A79;
  color: #fff !important;
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
  border-radius: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}